body
{
    font-family: Roboto, Arial, sans-serif;
    min-width: 900px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: #f1f1f1;
}

img
{
    max-width: 100%;
    height: auto;
}

input, textarea
{
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

input:hover
{
    border-color: #a2a9ac;
}

input:focus
{
    border-color: #56bffb;
    outline: none;
}

.container
{
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}

.inner-page .main-header
{
    margin-bottom: 70px;
}

.header-logo
{
    width: 140px;
    height: 65px;
    float: left;
    margin-top: 30px;
    margin-right: 185px;
}

.header-logo img
{
    width: 140px;
    height: 65px;
}

.main-navigator
{
    width: 430px;
    float: left;
    margin-top: 60px;
}

.main-navigator ul
{
    list-style: none;
    font-size: 0;
    padding: 0;
}

.main-navigator li
{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-right: 45px;
}

.main-navigator li:last-child
{
    margin-right: 0px;
}

.main-navigator .active
{
    border-bottom: 2px solid #fb565a;
}

.main-navigator a
{
    color: black;
    text-decoration: none;
}

.main-navigator a:hover
{
    color: #fb565a;
}

.main-navigator a:active
{
    color: black;
    opacity: 0.4;
}

.cart-block
{
    max-width: 100px;
    float: right;
    margin-top: 60px;
}

.cart-block a::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../img/icon-cart.png") no-repeat;
    left: 0;
    top: 7px;
}

.cart-block a:hover::before
{
    background: url("../img/icon-cart-hover.png") no-repeat;
}

.cart-block a:active::before
{
    background: url("../img/icon-cart.png") no-repeat;
}

.cart-block a
{
    position: relative;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
}

.cart-block a:hover
{
    color: #fb565a;
}

.cart-block a:active
{
    color: black;
    opacity: 0.4;
}

.clearfix::after,
.clearfix::before
{
    content: '';
    display: table;
    clear: both;
}

.heading h1
{
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 165px;
}

.slider
{
    margin-bottom: 105px;
}

.slider-item-1
{
    padding: 55px 0;
    background: url("../img/slider-1.png") no-repeat right;
}

.slider-item-info
{
    float: left;
    width: 400px;
}

.slider-item-info b
{
    color: black;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 27px;
    display: block;
}

.slider-item-info p
{
    color: #283136;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}

.btn
{
    display: inline-block;
    vertical-align: top;
    padding: 12px 40px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    outline: none;
    border: none;
    color: #ffffff;
}

.catalog-btn
{
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: #f1f1f1;
}

.next-btn
{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 140px;
    color: #000000;
}

.pagination
{
    font-size: 0px;
}

.pagination-btn
{
    padding: 10px 15px;
    color: #000000;
    margin-right: 10px;
}

.next-btn:hover, .pagination-btn:hover
{
    background-color: #e5e5e5;
}

.next-btn:active, .pagination-btn:active
{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.catalog-btn:hover
{
    background-color: #e5e5e5;
}

.catalog-btn:active
{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.slider-item-info .btn
{
    background: #fb565a;
    min-width: 240px;
    color: white;
}

.slider-item-info .btn:hover
{
    background-color: #d6494d;
}

.slider-item-info .btn:active
{
    background-color: #b63538;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.slider-item-image
{
    float: right;
}

.service
{
    margin-bottom: 140px;
}

.service-item
{
    float: left;
    width: 240px;
    margin-right: 80px;
}

.service-item:last-child
{
    margin-right: 0px;
}

.service-head
{
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-item p
{
    color: #283136;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.btn-1
{
    background-color: #fb565a;
    color: white;
}

.btn-1:hover
{
    background-color: #d6494d;
}

.btn-1:active
{
    background-color: #b63538;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.service-item .btn-2
{
    background-color: #00ca74;
    color: white;
}

.service-item .btn-2:hover
{
    background-color: #01a25e;
}

.service-item .btn-2:active
{
    background-color: #009053;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.service-item .btn-3
{
    background-color: #efc84a;
    color: white;
}

.service-item .btn-3:hover
{
    background-color: #d6ae2c;
}

.service-item .btn-3:active
{
    background-color: #c09b24;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}

.catalog-left h2
{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.catalog-left input,
.catalog-left label
{
    color: #283136;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.price-title
{
    margin: 0;
}

.price-block
{
    margin-bottom: 60px;
}

.slider-range
{
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.slider-value
{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40px;
    z-index: 10;
}

.min-value
{
    left: 14px;
}

.max-value
{
    right: 71px;
}

.slider-value::after
{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #ababab;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line
{
    width: 190px;
    height: 2px;
    background-color: #d7dcde;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.line-active
{
    width: 70%;
    background: #00ca74;
    height: 2px;
}

.price-values
{
    text-align: justify;
    font-size: 0px;
    line-height: 0px;
}

.price-values::after
{
    content: '';
    width: 100%;
    display: inline-block;
}

.price-values input
{
    width: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.price-values label
{
    display: inline-block;
    width: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.grid-values
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-values label
{
    padding-left: 35px;
    position: relative;
}

.grid-values input[type="radio"]
{
    display: none;
}

.grid-values label::before
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background: url("../img/icon-circle.png") no-repeat center;
}

.catalog-left li
{
    margin-bottom: 18px;
}

.grid-values input[type="radio"]:checked + label::before
{
    background: url("../img/icon-circle-dot.png") no-repeat center;
}

.features-values
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-values input[type="checkbox"]
{
    display: none;
}

.features-values label
{
    padding-left: 35px;
    position: relative;
}

.features-values label:before
{
    content: '';
    position: absolute;
    left: 0;
    width: 27px;
    height: 23px;
    background: url("../img/icon-check-off.png") no-repeat;
}

.features-values input[type="checkbox"]:checked + label:before
{
    background: url("../img/icon-check-on.png") no-repeat;
}

.sort-block
{
    margin-bottom: 20px;
}

.sort-types
{
    float: left;
    width: 470px;
}

.sort-list
{
    font-size: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-title
{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
}

.sort-list li
{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.sort-list li:last-child
{
    margin-right: 0px;
}

.sort-list a
{
    text-decoration: none;
    opacity: 0.3;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-bottom: 2px dotted #00ca74;
    padding-bottom: 2px;
}

.sort-arrows
{
    float: right;
    width: 50px;
    font-size: 0px;
}

.arrow
{
    display: inline-block;
    font-size: 0px;
    width: 11px;
    height: 10px;
    text-decoration: none;
}

.arrow-up
{
    background: url("../img/icon-up-dir.png") no-repeat center;
}

.arrow-down
{
    background: url("../img/icon-down-dir.png") no-repeat center;
}

.about
{
    margin-bottom: 120px;
}

.about-left
{
    float: left;
    width: 620px;
}

.about-title
{
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-top: 0;
}

.about-text
{
    color: #283136;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    display: block;
    padding-right: 20px;
    margin-bottom: 45px;
    margin-top: 0;
}

.about-left h3
{
    color: #283136;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}

.about-list
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-list li::before
{
    content: '';
    height: 2px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 0px;
    background: url("../img/list-style.png") no-repeat;
}

.about-list li
{
    color: #283136;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 35px;
    position: relative;
}

.about-right
{
    float: right;
    width: 240px;
}

.about-logo
{
    width: 160px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-logo img
{
    width: 160px;
    height: 65px;
}

.about-right p
{
    text-align: center;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 70px;
}

.about-right h3
{
    color: #283136;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}

.gallery-item
{
    display: inline-block;
    margin-right: 70px;
    vertical-align: middle;
    opacity: 0.2;
}

.gallery-item:hover
{
    opacity: 1;
}

.gallery-item:active
{
    opacity: 1;
}

.gallery-item:first-child
{
    width: 209px;
    height: 90px;
    margin-right: 142px;
    padding-left: 10px;
}

.gallery-item:first-child img
{
    width: 209px;
    height: 90px;
}

.gallery-item:nth-child(2)
{
    width: 185px;
    height: 52px;
    margin-right: 143px;
}

.gallery-item:nth-child(2) img
{
    width: 185px;
    height: 52px;
}

.gallery-item:last-child
{
    width: 173px;
    height: 84px;
    margin-right: 0;
    padding-right: 10px;
}

.gallery-item:last-child img
{
    width: 173px;
    height: 84px;
    margin-right: 0;
}

.catalog-left
{
    float: left;
    width: 240px;
    margin-right: 80px;
}

.social-links
{
    font-size: 0px;
    float: left;
    margin-right: 80px;
}

footer
{
    padding-bottom: 70px;
}

.contact-form
{
    width: 250px;
    padding: 25px 20px;
    box-sizing: border-box;
    background: white url("../img/texture.png");
    position: absolute;
    top: 90px;
}

.footer
{
    margin-top: 120px;
}

.map
{
    height: 416px;
    width: 100%;
    background-size: cover;
    z-index: 1;
    border-top: 1px solid transparent;
    margin-bottom: 75px;
    position: relative;
}

.contact-form h2
{
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}

.address
{
    margin-top: 0;
    margin-bottom: 25px;
}

.phone
{
    margin-top: 0;
    margin-bottom: 35px;
}

.contact-btn
{
    text-align: center;
}

.contact-form .btn
{
    background-color: #fb565a;
    color: white;
}

.contact-form .btn:hover
{
    background-color: #d6494d;
}

.contact-form .btn:active
{
    background-color: #b63538;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.contact-form p
{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.social-btn
{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 30px;
}

.social-btn:last-child
{
    margin-right: 0;
}

.social-btn-vk
{
    background: #e1e1e1 url("../img/icon-vk.png") no-repeat center;
}

.social-btn-vk:hover
{
    background: #fb565a url("../img/icon-vk.png") no-repeat center;
}

.social-btn-vk:active
{
    background: #d6494d url("../img/icon-vk.png") no-repeat center;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.social-btn-f
{
    background: #e1e1e1 url("../img/icon-facebook.png") no-repeat center;
}

.social-btn-f:hover
{
    background: #fb565a url("../img/icon-facebook.png") no-repeat center;
}

.social-btn-f:active
{
    background: #d6494d url("../img/icon-facebook.png") no-repeat center;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.social-btn-inst
{
    background: #e1e1e1 url("../img/icon-instagramm.png") no-repeat center;
}

.social-btn-inst:hover
{
    background: #fb565a url("../img/icon-instagramm.png") no-repeat center;
}

.social-btn-inst:active
{
    background: #d6494d url("../img/icon-instagramm.png") no-repeat center;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.social-offers-title
{
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 0;
}

.social-offers-text
{
    color: #283136;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

.catalog-right
{
    float: left;
    width: 560px;
}

.catalog-item
{
    float: left;
    margin-bottom: 90px;
    position: relative;
    width: 240px;
}

.catalog-modal
{
    position: absolute;
    width: 200px;
    height: 190px;
    top: 55px;
    background-color: #ffffff;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
    display: none;
}

.catalog-item:hover .catalog-modal
{
    display: block;
}

.catalog-modal h2
{
    margin: 30px 0 13px 0;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 9px;
    text-transform: uppercase;
}

.catalog-modal p
{
    margin: 0 0 30px 0;
    padding: 0 30px 0 30px;
    color: #283136;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.catalog-modal .btn-1
{
    margin-bottom: 30px;
}

.catalog-link
{
    width: 240px;
    height: 240px;
    display: block;
}

.catalog-item img
{
    width: 240px;
    height: 240px;
}

.catalog-item:nth-child(2n+1)
{
    margin-right: 80px;
}

.catalog-item-head
{
    width: 100%;
    height: 30px;
}

.catalog-item:hover .catalog-item-head
{
    background: url("../img/browser.png") no-repeat center;
}

.modal-window
{
    box-sizing: border-box;
    position: fixed;
    z-index: 30;
    width: 630px;
    height: 410px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin-left: -315px;
    margin-top: -205px;
    padding: 50px 85px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    display: none;
}

.modal-window .close
{
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: #fb565a;
    border-radius: 50%;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

.close::before, .close::after
{
    content: '';
    width: 4px;
    height: 22px;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 18px;
}

.close::before
{
    transform: rotate(45deg);
}

.close::after
{
    transform: rotate(-45deg);
}

.modal-window label
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 13px;
    display: inline-block;
}

.modal-window input
{
    box-sizing: border-box;
    padding: 10px 15px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    width: 220px;
}

.name-block, .email-block
{
    width: 220px;
    float: left;
    margin-bottom: 23px;
}

.name-block
{
    margin-right: 20px;
}

.modal-window textarea
{
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.modal-window .btn-modal
{
    width: 100%;
    background-color: #fb565a;
    cursor: pointer;
}

.modal-window .btn-modal:hover
{
    background-color: #d6494d;
}

.modal-window .btn-modal:active
{
    background-color: #b63538;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

























































































































































































































































































































































